<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Leaderboard</title>
    <!--<link rel="stylesheet" href="/home.css" />-->
  </head>

  <body>
  <h1>Standings</h1>
  <ol>
  <% @teams.each do |team| %>
  <li><%= team %></li>
  <% end %>
  </ol>


  </body>
</html>
